<h1>Edit Artist</h1>




<%= render partial: 'form', locals: {path: "/artists/#{@artist.id}",
                                     method: :patch,
                                     button_text: 'Update Artist',
                                     artist_name: @artist.name} %>
