<h1>All Artists</h1>

<section class = "artist-names-list">
  <% @artists.each do |artist| %>
    <section id = "artist-<%= artist.id %>" >
      <p><%= artist.name %> <%= link_to "Delete", "/artists/#{artist.id}", method: :delete  %></p>
    </section>
  <% end %>
</section>

<%= link_to "New Artist", "/artists/new" %>
