




<h1>New Artist</h1>

<%= render partial: 'form', locals: {path: '/artists',
                                     method: :post,
                                     button_text: 'Create Artist'} %>
