<h1>Super fancy</h1>

<nav>
  <h1>Welcome to Our Zoo</h1>
</nav>
<section class="animals">
  <header>
    <p>I would like to tell you about our animals</p>
  </header>
  <article class="otters">
    <h2>Otters</h2>
    <p>Come visit our friendly otters and watch them slip and slide.</p>
  </article>

  <article class="otters">
    <h2>Otters</h2>
    <p>Come visit our friendly otters and watch them slip and slide.</p>
  </article>
  <article class="penguins">
    <h2>Cute Penguins</h2>
    <ul>
      <li>Emperor Penguins</li>
      <li>King Penguins</li>
      <li>African Penguins</li>
    </ul>
  </article>
</section>
<section id="exhibits">
  <header>
    <p>Check out our exhibits!</p>
  </header>
  <article class="explore-the-shore">
    <a href="https://www.denverzoo.org/explore-shore">Explore the Shore</a>
  </article>
  <article class="lorikeet-adventure">
    <p>Come play with our lorikeets.</p>
  </article>
</section>
<footer class="contact-me">
  <p>email me at <a href="mailto:dione@turing.io"></a></p>
</footer>
